@font-face {
    font-family: score ;
    src: url(fonts/CursedTimerUlil-Aznm.ttf);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
    background-color: green;
}
header{
    font-size: 80px;
    color: white;
}
.interactive-sction{
    display: flex;
    justify-content: center;
}
.main-section{
    border: white solid 7px;
    background-color: rgba(0, 0, 0, 0.5) ;
    color: white;
    font-size: 40px;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
}
.team-section{
    width: 160px;
    margin: 10px;
}
.score{
    width: 150px;
    height: 150px;
    background-color: black;
    color: lime;
    font-size: 80px;
    margin: auto;
    border-radius: 7px;
    line-height: 150px;
}
.btn-section{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 140px;
}
.btn-section button{
    font-size: 20px;
    border-radius: 7px;
    border: white 1px solid;
    background-color: rgb(7, 49, 7);
    color: white;
    padding: 3px 5px;
    margin: 5px;
}
p{
    font-family: score, sans-serif;
}
#reset-btn{
    font-size: 30px;
    padding: 5px 15px;
    border-radius: 7px;
    border: none;
    border: white 1px solid;
    background-color: rgb(7, 49, 7);
    color: white;
}
.btn-section button:hover, #reset-btn:hover, .btn-section button:focus, #reset-btn:focus {
    background-color: lightgrey;
    color: darkgreen;
}